.ass-1 div {
  background-color: lightgray;
  display: inline-block;
  padding: 20px 25px;
  margin: 20px;
}

.ass-1 .one {
  border: 5px;
  border-style: solid;
  border-color: red;
  outline: 5px solid black;
}

.ass-1 .two {
  border: 5px;
  border-style: solid;
  border-color: blue green;
  outline: 5px solid black;
}

.ass-1 .three {
  border: 5px;
  border-style: dashed;
  border-color: red green blue yellow;
  outline: 5px solid black;
}

.ass-2 div {
  /* width: 400px; */
  background-color: #eee;
}

.ass-2 .one {
  padding: 1px 10px;
  margin: 15px 10px;
  border-left: 10px solid #e91e69;
  outline: 10px solid #eee;
  font-size: 20px;
}

.ass-2 .two {
  padding: 1px 10px;
  margin: 15px 10px;
  border-left: 10px solid #e91e69;
  outline: 10px solid #eee;
  font-size: 20px;
  visibility: hidden;
}

.ass-2 .three {
  padding: 1px 10px;
  margin: 15px 10px;
  border-left: 10px solid #01abb8;
  outline: 10px solid #eee;
  font-size: 20px;
}
